<div class="card">
    <div class="table-container">
        <table>
          <thead>
            <tr>
              <th>Name</th>
              <th>Updated at</th>
              <th>Homepage</th>
              <th>Score</th>
              <th>Stargazers count</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let row of tableData$ | async">
                <td [attr.data-content]="'Name'">{{row.name}}</td>
                <td [attr.data-content]="'Updated at'">{{row.updated_at.toLocaleString()}}</td>
                <td [attr.data-content]="'Homepage'">{{row.homepage}}</td>
                <td [attr.data-content]="'Score'">{{row.score}}</td>
                <td [attr.data-content]="'Stargazers count'">{{row.stargazers_count}}</td>
            </tr>
          </tbody>
        </table>
        <app-pagination
          [numberOfButtons]="10"
          [lastPage]="totalItemCount / itemsPerPage"
          [itemsPerPage]="itemsPerPage"
          [totalItemCount]="totalItemCount"
        >
        </app-pagination>
      </div>
</div>

